body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.container_logo{
    display: flex;
    justify-content: center;
    align-items: center;}

.logo{
    width:15%;
}

.navi{
    display: flex;
    justify-content: space-around;
}
.promotion {
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.promotion:hover{
    background-color: #333;
}

.info-block {
    background-color: #98FB98;
    padding: 20px;
}
.info-block-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Creates three equal-width columns */
    grid-gap: 10px; /* Adds spacing between columns */
    /* Add any other styling as needed */
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer p {
    margin: 0;
}
